@page "/posts"

<h3>Posts</h3>

@if(posts != null){
    @foreach (var post in posts)
    {
        <h1>@post.Subject</h1>
    }
}


@code {
    ICollection<Post> posts = new List<Post>();
    ICollection<Post> videos = new List<Post>();

    protected async override Task OnInitializedAsync()
    {
        posts = await PublicApi().GetBlogPostsAsync();
        videos = await PublicApi().GetYoutubeVideosAsync();
    }
}
