@page "/creators"
<!-- Hero Start -->
<section class="bg-half-170 bg-light d-table w-100">
    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="pages-heading">
                    <h4 class="title mb-0"> Creators </h4>
                </div>
            </div>  <!--end col-->
        </div><!--end row-->
        <div class="position-breadcrumb">
            <nav aria-label="breadcrumb" class="d-inline-block">
                <ul class="breadcrumb rounded shadow mb-0 px-4 py-2">
                    <li class="breadcrumb-item"><a href="/">Agrega</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Creators</li>
                </ul>
            </nav>
        </div>
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->
<!-- Shape Start -->
<div class="position-relative">
    <div class="shape overflow-hidden text-color-white">
        <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
        </svg>
    </div>
</div>
<!--Shape End-->
<!-- Team Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title">Blogs/Sites</h4>
                </div>
            </div><!--end col-->
        </div><!--end row-->

        <div class="row">
            @foreach (var blog in blogs)
            {
                <div class="col-lg-3 col-md-6 mt-4 pt-2">
                    <div class="card team team-primary text-center border-0">
                        <div class="position-relative">
                            <img src="@blog.ImageUrl" class="img-fluid avatar avatar-ex-large rounded-circle shadow" alt="">
                            <ul class="list-unstyled mb-0 team-icon">
                               
                            </ul>
                        </div>
                        <div class="card-body py-3 px-0 content">
                            <h5 class="mb-0"><a href="#" class="name text-dark">@blog.Name</a></h5>
                           
                        </div>
                    </div>
                </div>

                
            }
        </div><!--end row-->

        <div class="row">
            <div class="col-12 text-center">
                <div class="section-title mb-4 pb-2">
                    <h4 class="title">Youtube Channels</h4>
                </div>
            </div>
        </div>

        <div class="row">
            @foreach (var channel in channels)
            {
            <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
                <div class="d-flex align-items-center">
                    <img src="@channel.ImageUrl" class="avatar avatar-medium rounded-circle img-thumbnail" alt="">
                    <div class="content ms-3">
                        <h5 class="mb-0"><a href="javascript:void(0)" class="text-dark">@channel.Name</a></h5>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</section>


@code {
    ICollection<Blog> blogs = new List<Blog>();

    ICollection<Channel> channels = new List<Channel>();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            blogs = await PublicApi().GetBlogsAsync();
            channels = await PublicApi().GetChannelsAsync();
            StateHasChanged();
        }

    }
}